.testBlock {
    margin: 40px auto;
    padding: 0;
    width: 65%;
    border: 1px solid #ccc;
    box-shadow: 0 3px 5px #ccc;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testBlock__title {
    font-size: 1.2rem;
}

.testBlock__form {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.testBlock__form__p {
    width: 60%;
    font-size: 0.9rem;
    margin: 4px 16px;
}

.testBlock__diagnosis {
    font-size: 1rem;
    margin: 16px auto;
}

.testBlock__form__input {
    width: 35%;
    font-size: 0.8rem;
}

.testBlock__form__buttonDiv {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

.saveButton {
    width: 20%;
    height: 6vh;
    align-self: center;
    font-size: 1rem;
    background: #cccccc;
}

.saveButton:hover,
.saveButton:active
{
    background: gold;
}