.Patient {
    width: 85%;
    border: 2px solid #eee;
    box-shadow: 2px 2px 2px #ccc;
    margin: 8px auto;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Patient:hover {
    background-color: #cccccc;
}

p {
    margin: 5px;
}

.Patient__span {
    font-weight: bolder;
    font-size: 0.8em;
    padding: 0 5px;
}

.Patient__p {
    font-size: 0.7rem;
    margin: 5px;
    padding: 0 5px;
}

.Patient__showMore {
    cursor: pointer;
}


.PatientFull {
    display: flex;
    flex-direction: column;
    width: 85%;
    border: 2px solid #eee;
    box-shadow: 2px 2px 2px #ccc;
    margin: 8px auto;
    padding: 5px;
    justify-content: center;
    align-content: center;
}

.PatientFull__baseInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
}

.PatientFull__p {
    font-size: 1rem;
    margin: 5px;
    padding: 0 5px;
    text-align: center;
}

.PatientFull__status {
    font-size: 1.2rem;
    margin: 5px;
    padding: 0 5px;
    text-align: center;
}


.PatientFull__firstEntryButton {
    width: 210px;
    padding: 5px;
    margin: 20px auto;
    font-size: 0.9rem;
    cursor: pointer;
}

.Patient__firstEntryButton:hover {
    background-color: gold;
}