.Patient {
    width: 60%;
    border: 2px solid #eee;
    box-shadow: 2px 2px 2px #ccc;
    margin: 8px auto;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Patient:hover {
    background-color: #cccccc;
}

p {
    margin: 5px;
}

.Patient__span {
    font-weight: bolder;
    font-size: 1.1rem;
    padding: 0 5px;
}

.Patient__p {
    font-size: 1rem;
    margin: 5px;
    padding: 0 5px;
}

.Patient__showMore {
    cursor: pointer;
    font-size: 1rem;
}

.Patient__btnDelete {
    background-color: #555555;
    cursor: pointer;
    color: white;
    margin-top: 5px;
    font-size: 1rem;
}


.PatientFull {
    display: flex;
    flex-direction: column;
    width: 65%;
    border: 2px solid #eee;
    box-shadow: 2px 2px 2px #ccc;
    margin: 8px auto;
    padding: 5px;
    justify-content: center;
    align-content: center;
}

.PatientFull__baseInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
}

.PatientFull__p {
    font-size: 1.1rem;
    margin: 5px;
    padding: 0 5px;
    text-align: center;
}

.PatientFull__status {
    font-size: 1.4rem;
    margin: 7px;
    padding: 0 5px;
    text-align: center;
    color: #920001;
}


.PatientFull__firstEntryButton {
    width: 210px;
    padding: 5px;
    margin: 20px auto;
    font-size:1rem;
    cursor: pointer;
}

.Patient__firstEntryButton:hover {
    background-color: gold;
}

.PatientFull__results {
    margin-bottom: 10px;
}

.PatientFull__link {
    padding: 0 5px;
    text-align: left;
    color: blue;
    cursor: pointer;
    font-size: 1.1rem;
}