.Patient {
    width: 70%;
    border: 2px solid #eee;
    box-shadow: 2px 2px 2px #ccc;
    margin: 8px auto;
    padding: 5px;
    display: flex;
    flex-direction: row;
}

.Patient:hover {
    background-color: #cccccc;
}

.Patient__baseInfo {
    display: flex;
    flex-direction: column;
}

p {
    margin: 5px;
}

.Patient__span {
    font-weight: bolder;
    font-size: 0.8em;
    padding: 0 10px;
}

.Patient__p {
    font-size: 0.7rem;
    margin: 5px;
    padding: 0 10px;
}

.Patient__firstEntryButton {
    width: 70px;
    padding: 5px;
    margin: 2px 40px;;
    font-size: 0.7rem;
    cursor: pointer;
}

.Patient__firstEntryButton:hover {
    background-color: gold;
}

.Patient__firstEntryInfo {
    margin: 0 30px;
}