ul {
    padding: 0;
}

.Answer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 40%;
    margin: 10px auto;
    padding: 25px;
    text-align: center;
    font-weight: bold;
    border: 3px solid rgba(46, 28, 222, 0.7);
    box-shadow: 0 0 2px 1px rgba(21, 43, 162, 0.7);
    border-radius: 20px;
    box-sizing: border-box;
    cursor: pointer;
    list-style-type: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.Answer:hover,
.Answer:active {
    border: 3px solid rgb(19, 15, 76);
    background-color: rgba(0, 116, 255, 0.18);
}
