.PatientRegistration {
    box-sizing: border-box;
    position: absolute;
    top: calc(50% - 300px);
    left: calc(50% - 250px);
    height: 430px;
    margin: auto;
    width: 500px;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
}

.PatientRegistration__title {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.PatientRegistration__button {
    border-radius: 20px;
    height: 40px;
    width: 150px;
    box-shadow: 0 3px 5px #ccc;
    background-color: #ccc;
    font-size: 1rem;
    margin-top: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    outline:none;
}

.PatientRegistration__button:hover {
    background-color: #7d7d7d;
    color: #faffff;
}

