.PatientRegistration {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.PatientRegistration__form {
    height: 430px;
    width: 500px;
    text-align: center;
    border: 1px solid rgba(46, 28, 222, 0.7);
    box-shadow: 0 0 2px 1px rgba(21, 43, 162, 0.7);
    border-radius: 20px;
    padding: 10px;
}

.PatientRegistration__title {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.PatientRegistration__button {
    border-radius: 20px;
    height: 40px;
    width: 150px;
    border: 2px solid rgba(46, 28, 222, 0.7);
    box-shadow: 0 0 2px 1px rgba(21, 43, 162, 0.7);
    font-size: 1rem;
    margin-top: 20px;
    color: #010077;
    -webkit-user-select: none;
    -moz-user-select: none;
    outline:none;
}

.PatientRegistration__button:hover {
    border: 3px solid rgb(19, 15, 76);
    box-shadow: 0 0 2px 1px rgb(19, 24, 91);
}

@media (max-width: 767px) {
    .PatientRegistration__form {
        height: 390px;
        width: 300px;
    }
}

