.Patient {
    box-shadow: 0 0 2px 1px rgba(21, 43, 162, 0.7);
    border-radius: 5px;
    margin: 8px auto;
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Patient:hover {
    background-color: rgba(0, 116, 255, 0.18);
}

p {
    margin: 5px;
}

.Patient__span {
    font-weight: bolder;
    font-size: 1.1rem;
    padding: 0 5px;
}

.Patient__p {
    margin: 5px;
    padding: 0 5px;
    font-size: 1rem;
    /*border: 1px solid black;*/
}

.Patient__regDate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    padding: 0 5px;
    /*border: 1px solid black;*/
    word-break: break-all;
    word-wrap: break-spaces;
    width: 20%;
    font-size: 1rem;
}

.Patient__id {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 5%;
    /*border: 1px solid black;*/
    font-size: 1rem;
}

.Patient__statuses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    /*border: 1px solid black;*/
    width: 40%;
}

.Patient__nameContent {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 30%;
    /*border: 1px solid black;*/
}

.Patient__name {
    margin: 2px;
    padding: 0 2px;
    font-size: 1rem;
}

.PatientFull__date {
    font-size: 0.7rem;
    margin: 5px;
    padding: 0 5px;
}

.Patient__showMore {
    cursor: pointer;
    font-size: 1rem;
    width: 90%;
    color: #010077;
    background-color: rgba(0, 116, 255, 0.18);
    border: 1px solid rgba(46, 28, 222, 0.7);
    border-radius: 5px;
}

.Patient__showMore:hover {
    border: 1px solid rgb(19, 15, 76);
}

.Patient__btnDelete {
    background-color: #555555;
    cursor: pointer;
    color: white;
    margin-top: 5px;
    font-size: 1rem;
    width: 90%;
    border: 1px solid rgba(46, 28, 222, 0.7);
    border-radius: 5px;
}

.Patient__btnDelete:hover {
    border: 1px solid rgb(19, 15, 76);
}


.PatientFull {
    display: flex;
    flex-direction: column;
    border: 2px solid rgba(46, 28, 222, 0.7);
    box-shadow: 0 0 2px 1px rgba(21, 43, 162, 0.7);
    border-radius: 5px;
    margin: 8px auto;
    padding: 5px;
    justify-content: center;
    align-items: center;
}

.PatientFull__baseInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: center;
}

.PatientFull__p {
    font-size: 1.1rem;
    margin: 5px;
    padding: 0 5px;
    text-align: center;
}

.PatientFull__status {
    font-size: 1.4rem;
    margin: 7px;
    padding: 0 5px;
    text-align: center;
    color: #920001;
}


.PatientFull__firstEntryButton {
    width: 210px;
    padding: 5px;
    margin: 20px;
    font-size: 1rem;
    cursor: pointer;
    border: 2px solid rgba(46, 28, 222, 0.7);
    box-shadow: 0 0 2px 1px rgba(21, 43, 162, 0.7);
    border-radius: 5px;
    color: #010077;
    background: none;
}

.PatientFull__firstEntryButton:hover {
    border: 2px solid rgb(19, 15, 76);
    box-shadow: 0 0 2px 1px rgb(19, 24, 91);
}

.PatientFull__results {
    margin-bottom: 10px;
}

.PatientFull__link {
    padding: 0 5px;
    text-align: left;
    color: blue;
    cursor: pointer;
    font-size: 1.1rem;
}

.PatientFull__secondEntryButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.PatientFull__epicrisisRedischargeButtons {
    display: flex;
    flex-direction: column;
}

.PatientFull__epicrisisRedischargeButtons  > .PatientFull__firstEntryButton {
    margin: 10px auto;
}

@media (max-width: 1019px) {
    .Patient {
       margin: 10px;
        min-width: 612px;
    }

    .Patient__p, .Patient__id,.Patient__regDate, .Patient__name, .Patient__span   {
        font-size: 0.7rem;
    }

    .PatientFull__p, .PatientFull__link {
    font-size: 0.9rem;
}

    .PatientFull__secondEntryButtons {
        flex-wrap: wrap;
    }
}

@media (max-width: 767px) {
    .Patient {
        min-width: 325px;
        width: 80%;
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 10px auto;
    }
}