.Epicrisis {
    /*border: 2px solid black;*/
    margin: auto;
    width: 80%;
    border-radius: 10px;
    background: url("gray-paperboard.jpg");
}

.Epicrisis__title {
    padding: 15px;
    font-weight: bolder;
    font-size: 1.6rem;
}

.Epicrisis__subtitle {
    font-size: 1.2rem;
    font-weight: bold;
}

@media (max-width: 767px) {
    .Epicrisis {
        width: 98%;
    }
}