.Input {
    width: 90%;
    margin: auto;
    padding: 2px;
    box-sizing: border-box;
}

.Label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.InputElement {
    outline: none;
    border: 0.5px solid rgba(46, 28, 222, 0.7);
    border-radius: 8px;
    font: inherit;
    padding: 0.5rem 0 0.5rem 5px;
    display: block;
    width: 100%;
}

.InputElement__select {
    outline: none;
    border: 0.5px solid rgba(46, 28, 222, 0.7);
    border-radius: 8px;
    background-color: white;
    font: inherit;
    padding: 0.5rem 0 0.5rem 5px;
    display: block;
    width: 40%;
    color: #010077;
}

.InputElement:focus {
    outline: none;
    background-color: #ccc;
}