.Question {

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 80%;
    margin: 30px auto 0 auto;
font-weight: bold;
    font-size: 1.2rem;

    padding: 25px;
    text-align: center;
    border: 3px solid #858585;
    box-shadow: 0 2px 3px #ccc;

    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
}